<div class="col-md-4 mk-auto">
    <div class="card">
    <div class="card-header">
        <h3>Registrar Ciudadano</h3>
    </div>
    <div class="card-body">
        <form action="/ciudadano/registro/" method="POST">
            <div class="form-group">
                <input type="number" name="id" class="form-control" placeholder="Identificación Ciudadano" required autofocus>
            </div>
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Nombre ciudadano" required autofocus>
            </div>
            <div class="form-group">
                <input type="text" name="address" class="form-control" placeholder="Dirección" required autofocus>
            </div>
            <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email" required autofocus>
            </div>
            <div class="form-group">
                <input type="number" name="operatorId" class="form-control" placeholder="ID operador" required autofocus>
            </div>
            <div class="form-group">
                <input type="text" name="operatorName" class="form-control" placeholder="Nombre Operador" required autofocus>
            </div>
            <div class="form-group">
                <button class="btn-primary btn-block" type="submit">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>
</div>