<div class="card col-md-3 align-center">
    <div class="card-body mx-auto ">
        <h1 class="card-title d-flex justify-content-between aligh-items-center">Cambiar contrase単a</h1>
        <form action="/usuarios/password/" method="POST">
            <input type="password" class="form-control " name="passwordAct" placeholder="Contrase単a Actual">
            <input type="password" class="form-control mt-2" name="newPassword" placeholder="Nueva Contrase単a">
            <input type="password" class="form-control mt-2" name="confirmPassword" placeholder="Confirmar Contrase単a">
            <button class="btn btn-danger btn-block btn-sm mt-2" type="submit">Cambiar</button>
        </form>
    </div>
</div>