<div class="card col-md-3 align-center">
    <div class="card-body">
        <h4>Validar Ciudadano</h4>
    </div>
    <div class="card-body">
        <form action="/usuarios/validar/" method="POST">
            <input class="form-control" type="number" name="id" placeholder="Cedula ciudadano">
             <button class="btn btn-danger btn-block btn-sm mt-2" type="submit">Cambiar</button>
        </form>
    </div>
</div>